<div class="masthead-grid " >
    <div class="masthead">
         <h1>Saved Stories</h1> 
    </div>
   
    <div class="masthead-body">
        
    </div>      

</div>

<div class="grid-container">
    {{#each news}}
    <article class="article-js" style="box-shadow: -1px 4px 2px -2px grey;">
          <h3 style="background:#dedede; border: 1px solid #bbb; padding:10px; margin:10px; " >
             <a class= href="{{link}}"> {{title}}</a> 
             <button  data-id="{{_id}}"class="delete-story">Delete   {{_id}}</button>
        </h3> 
         <div style="padding:20px; padding-top:0px;">
             {{summary}}
        </div>
    </article>
{{/each}}
</div>
